* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
body {
  background-color: black;
  scroll-behavior: smooth;
  overflow: hidden;
  color: white;
}

/* Header container start */

.header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  background-color: rgb(36 35 35);
  padding: 15px;
}

.header-icon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.header-search > input {
  border-radius: 20px;
  height: 41px;
  padding: 12px;
  width: 30vw;
  background-color: rgb(7, 7, 7);
  border: none;
  color: grey;
  outline: none;
  font-size: 16px;
}

.header-search {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-search > button {
  cursor: pointer;
  position: relative;
  left: -4vw;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  height: 41px;
  width: 4vw;
  padding: 0px 10px;
  text-align: center;
  background-color: rgb(52, 52, 52);
  border: none;
  color: rgb(134, 133, 133);
}

.mic {
  cursor: pointer;
  position: relative;
  left: -3vw;
  border: none;
  border-radius: 50%;
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  background-color: rgb(52, 52, 52);
}

.header-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  cursor: pointer;
}

.user-logo > img {
  border-radius: 50%;
}
/* Header container end */

/* Navigation container start */
.youtube-navigation {
  display: flex;
}

.navigations::-webkit-scrollbar {
  width: 10px;
}

.navigations::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: grey;
  height: 12px;
}
.navigations::-webkit-scrollbar-thumb:hover {
  background-color: white;
}

.navigations {
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 89vh;
  width: 35vw;
  background-color: rgb(36 35 35);
  overflow-y: scroll;
  overflow-x: hidden;
}

.nav-item {
  width: 100%;
  border-bottom: 1px solid grey;
  display: flex;
  padding: 6px;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.nav-item > .nav-items {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  padding: 10px;
  cursor: pointer;
  gap: 12px;
  border: none;
  border-radius: 12px;
}

.nav-items > div:nth-child(1) > svg {
  fill: white;
}

.nav-items:hover:not(:nth-child(1)) {
  background-color: grey;
}

.nav-item-1 > .nav-items:nth-child(1) {
  background-color: grey;
}

.nav-item-3 > h3,
.nav-item-4 > h3 {
  align-self: flex-start;
  font-size: 16px;
  color: rgb(229, 229, 229);
  margin-left: 12px;
}

.nav-item-6 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: gray;
  font-weight: 900;
  font-size: 11px;
}

.subscription-logo > .channel-logo {
  height: 30px;
  width: 30px;
  border-radius: 33px;
  object-fit: fill;
  background-repeat: no-repeat;
}
.item-recommendations-inner::-webkit-scrollbar {
  display: none;
}
.item-recommendations {
  width: 100vw;
  height: 10vh;
  position: sticky;
  top: 0;
}
.item-recommendations-inner {
  display: flex;
  background-color: rgb(36 35 35);
  align-items: center;
  gap: 4px;
  border-top: 1px solid grey;
  padding: 11px;
  overflow-x: auto;
  overflow-y: hidden;
}

.item-recommendations-inner > div > button {
  border-radius: 33px;
  cursor: pointer;
  padding: 12px;
  background-color: grey;
  color: white;
  border: none;
}

.item-recommendations-inner > div:nth-child(1) > button {
  background-color: white;
  color: black;
}

.outer-container::-webkit-scrollbar {
  width: 10px;
}

.outer-container::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: grey;
  height: 12px;
}
.outer-container::-webkit-scrollbar-thumb:hover {
  background-color: white;
}

.outer-container {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 87vh;
  position: relative;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-evenly;
  gap: 19px;
  width: 100%;
  padding: 15px;
}
.video {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0px -1px 4px 1px black;
  text-align: left;
  gap: 5px;
  width: 100%;
  color: white;
}

.video .thumbnail {
  height: 240px;
  width: 100%;
}

.thumbnail {
  border-radius: 12px;
}

.video-details {
  display: flex;
  gap: 10px;
}

.video-details .channel-logo {
  height: 45px;
  width: 45px;
  border-radius: 33px;
  object-fit: fill;
  background-repeat: no-repeat;
}

.channel-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.channel-details > b {
  color: gray;
  opacity: 7.9;
  font-size: 15px;
}

.video-details .views {
  display: flex;
  flex-direction: row;
  color: gray;
  opacity: 7.9;
  font-size: 15px;
}

@media screen and (min-width: 700px) and (max-width:1001px) {
  .hamburger {
    display: none;
  }

  .navigations{
    display: none !important;
  }

  .container{
    grid-template-columns: repeat(2 , 1fr) !important;
  }
}


@media screen and (min-width: 1001px) and (max-width:1370px) {
  .navigations{
    width: 62vw;
  }
}


@media  screen and (min-width:320px) and (max-width:700px) {
  .header-search > button{
    width: 12vw;
  }

  .header-search > input{
    width: 33vw;
  }
  
  .header-buttons{
    display: none;
  }

  .hamburger {
    display: none;
  }

  .navigations{
    display: none !important;
  }

  .container{
    grid-template-columns: repeat(1 , 1fr) !important;
  }
}

