* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  color: white;
}
body {
  background-color: black;
  scroll-behavior: smooth;
  overflow-y: auto;
}

body::-webkit-scrollbar {
  width: 10px;
}

/* Track */
body::-webkit-scrollbar-track {
  /* box-shadow: inset 0px 0px 3px 2px #999999; */
  /* border-radius: 10px; */
  border-radius: none;
}

/* Handle */
body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  height: 5px;
  background: rgb(197 188 188);
}
body::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
.description-content::-webkit-scrollbar {
  width: 10px;
}

/* Header start */
.header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  background-color: rgb(36 35 35);
  padding: 12px;
}

.header-icon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.header-search > input {
  border-radius: 20px;
  height: 41px;
  padding: 12px;
  width: 30vw;
  background-color: rgb(7, 7, 7);
  border: none;
  color: grey;
  outline: none;
  font-size: 16px;
}

.header-search {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-search > button {
  cursor: pointer;
  position: relative;
  left: -4vw;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  height: 41px;
  width: 4vw;
  padding: 0px 10px;
  text-align: center;
  background-color: rgb(52, 52, 52);
  border: none;
  color: rgb(134, 133, 133);
}

.mic {
  cursor: pointer;
  position: relative;
  left: -3vw;
  border: none;
  border-radius: 50%;
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  background-color: rgb(52, 52, 52);
}

.header-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  cursor: pointer;
}

.user-logo > img {
  border-radius: 50%;
}
/* Header end */

/* Main container  */
.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 12px;
}

/* Video-container start */

.video-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 45vw;
  height: 100%;
  gap: 25px;
  padding: 20px;
}

/* video player start */
#video-player {
  height: 338px;
  width: 44vw;
}

#video-player > iframe {
  height: 335px;
  width: 100%;
}
/* video player end */

/* Video statistics start */
.video-statistics {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 34px;
}

.view-count > p {
  font-size: 13px;
}

.like-dislike {
  cursor: pointer;
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  align-items: center;
}

.like-dislike p {
  word-wrap: break-word;
}

.video-share {
  font-weight: 500;
  cursor: pointer;
}

.video-save > img {
  cursor: pointer;
  height: 50px;
}

.video-other > img {
  cursor: pointer;
  height: 50px;
}
/* Video statistics end */

/* Description-container start */
.description-container {
  display: flex;
  flex-direction: column;
  width: 42vw;
  gap: 20px;
  border-top: 1px solid rgb(118, 118, 118);
  border-bottom: 1px solid rgb(118, 118, 118);
  padding: 20px;
}

/* .channel-logo > img{
    object-fit: contain;
    height: 150px;
    width: 150px;
    border-radius: 20px;
} */

#subscribe-btn {
  background-color: red;
  padding: 6px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  font-weight: 500;
  height: 40px;
  width: 160px;
}

.channel {
  display: flex;
  justify-content: space-between;
}

.channel-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.logo {
  position: relative;
  right: 20px;
  height: 45px;
  width: 45px;
  border-radius: 33px;
  object-fit: fill;
  background-repeat: no-repeat;
}

.subscribers-count {
  opacity: 7.9;
  color: gray;
  font-size: 13px;
}

.description-content {
  word-wrap: break-word;
  line-height: 140%;
  width: fit-content;
  overflow-y: auto;
  height: auto;
}
/* Description container-end */

/* Comment container start */
.comment-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;

  gap: 20px;
}

.comment-counts {
  display: flex;
  justify-content: flex-start;
}

.comment-sort {
  display: flex;
  padding-left: 25px;
  gap: 15px;
}

.comment-adder {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

.comment-adder > img {
  border-radius: 50%;
}

.comment-adder input {
  width: 38vw;
  background-color: black;
  border: none;
  border-bottom: 1px solid gray;
  outline: none;
}

.comment-commentors {
  display: flex;
  gap: 16px;
  margin-top: 12px;
}

.commentor-logo > img {
  border-radius: 50%;
}

.commentor-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.details-row-1 {
  display: flex;
  gap: 10px;
}

.commented-on > p {
  opacity: 7.1;
  color: grey;
  font-size: 13px;
  word-wrap: break-word;
}

.details-row-2 > .comment {
  width: 39vw;
  word-wrap: break-word;
}

.details-row-3 {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  width: 14vw;
}
/* Comment container end */

/* playlist-contianer start */
.playlist-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 38vw;
  padding: 20px;
}

.playlist-button-container {
  display: flex;
  gap: 7px;
  padding-bottom: 12px;
}

.playlist-button-container > button {
  border-radius: 30px;
  padding: 12px;
  background-color: #3d3c3c;
  border: none;
}

.playlist-thumbnail {
  height: 100px;
}
.playlist-item {
  display: flex;
  align-items: center;
  gap: 28px;
}

.playlist-details {
  display: flex;
  flex-direction: column;
  gap: 9px;
  padding-top: 20px;
}

.playlist-author > p {
  color: gray;
  opacity: 7.1;
}

.playlist-views > p {
  color: gray;
  opacity: 7.1;
}
/* Playlist container end */

@media screen and (min-width: 610px) and (max-width: 1201px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .header-search > button {
    width: 6vw;
  }

  #video-player {
    width: 96vw;
  }

  .video-container {
    width: 100%;
  }

  .description-container {
    width: 92vw;
  }

  .comment-adder input {
    width: 80vw;
  }

  .details-row-2 > .comment {
    width: 67vw;
  }

  .details-row-3 {
    width: 23vw;
  }
  .playlist-container {
    width: 100%;
  }
}

@media screen and (min-width: 320px) and (max-width: 609px) {
  .header{
    width: 138vw;
  }
  
  .header-buttons{
    display: none;
  }
  
  .header-search > input{
    width: 70vw;
  }
  .header-search > button {
    width: 10vw;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #video-player {
    width: 129vw;
  }

  .video-container {
    width: 139%;
  }

  .video-statistics{
    width: 130vw;
  }

  .video-other{
    display: none;
  }
  .description-container {
    width: 129vw;
  }

  .comment-adder input {
    width: 99vw;
  }

  .details-row-2 > .comment {
    width: 88vw;
  }

  .details-row-3 {
    width: 61vw;
  }
  .playlist-container {
    width: 100%;
  }
}
